.slide-wrapper {
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  li {
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
  }
  list-style: none;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33%;
  grid-gap: 0.7em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.25em;

  scroll-padding: 0 10px;
  scroll-snap-align: center;

  /*
   * set cursor for grabbing
   *
   * 1. fallback if grab cursor is unsupported
   * 2. grabbing hand when supported
   */
  cursor: move; /* 1 */
  cursor: grab;

  &:active {
    cursor: grabbing; /* 2 */
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
