.section-wraper {
  display: flex;
  > div {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }
  .section-title {
    font-size: 20px;
    padding-top: 50px;
    font-weight: 300;
    text-align: justify;
    line-height: 2;
    h3 {
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.5em;
      line-height: normal;
    }
    p {
      text-align: justify;
      margin-top: 20px;
      font-size: 1em;
    }
  }
}
.section-images {
  text-align: center;
  > img {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
  }
}
// =================================== media
@media (max-width: 999px) {
  .section-wraper {
    flex-flow: column !important;
    .section-title {
      width: 100%;
      p {
        font-size: 1.2em;
      }
    }
    .section-images {
      width: 200px !important;

      > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 600px) {
  .section-title {
    font-size: 12px !important;
  }
}
