@mixin transition($time, $linear) {
  transition: all $time $linear;
  -webkit-transition: all $time $linear;
  -moz-transition: all $time $linear;
  -o-transition: all $time $linear;
  -ms-transition: all $time $linear;
}
@mixin linearGradient($colorOne, $colorTwo) {
  background: linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -moz-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, $colorOne), color-stop(128%, $colorTwo));
  background: -webkit-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -o-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -ms-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorOne ', endColorstr='$colorTwo', GradientType=1);
}
.web-container {
  width: 90%;
  margin: auto;
  // padding: 1em 0;
  max-width: 1500px;
}
.show-modal-icon-value {
  background-color: var(--redColor);
  padding: 0.35em 0.5em;
  border-radius: 100%;
  color: white !important;
  font-size: 1em;
}
.pointer {
  cursor: pointer;
}
.hoverColorblack:hover {
  color: black;
}
.App-link {
  color: #61dafb;
}
.countainer-main {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  // padding: 2em;
}
.normalTransition {
  transition: all 0.3s linear;
}
.showOutStatic {
  height: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}
.btns {
  margin: 6px 3px;
  font-size: 1em;
  border-radius: 0.4167em;
  font-weight: 500;
  padding: 0.8em 2.13em;
  box-shadow: none;
  user-select: none;
  color: white !important;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    -webkit-box-shadow: var(--boxShadowLow);
    box-shadow: var(--boxShadowLow);
  }
}
.btns-primary {
  background-color: var(--prymaryColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--blueLight3);
  }
}
.btns-primary.btns-gradient {
  background: var(--blueLight);
  background: -webkit-linear-gradient(-45deg, var(--blueLight), var(--blueLight2));
  background: -webkit-linear-gradient(315deg, var(--blueLight), var(--blueLight2));
  background: -o-linear-gradient(315deg, var(--blueLight) 0, var(--blueLight2) 100%);
  background: linear-gradient(135deg, var(--blueLight), var(--blueLight2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
}
.btns-warning {
  background-color: var(--warningColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--warningColorHover);
  }
}
.btns-success {
  background-color: var(--successColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--successColorHover);
  }
}
.btns-danger {
  background-color: var(--dangerColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--dangerColorHover);
  }
}
.transition0-2 {
  @include transition(0.2s, linear);
}
.transition0-3 {
  @include transition(0.3s, linear);
}
.transition0-4 {
  @include transition(0.4s, linear);
}
.transition0-5 {
  @include transition(0.5s, linear);
}
.transition0-6 {
  @include transition(0.6s, linear);
}
.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxShadow {
  box-shadow: var(--boxShadowLow);
}
.positionABS {
  position: absolute;
}
.bold {
  font-weight: 900;
}

.fontSize2em {
  font-size: 2em;
}
.priceColor {
  color: #1b9090;
}
.landingBgColor {
  @include linearGradient(#1488b9, #0b0b61);
}
.formFlex {
  .form-countainer {
    width: 70%;
  }
}
.formFlex {
  .form-countainer {
    width: 70%;
  }
}
.formFlex {
  form {
    display: flex;
    flex-wrap: wrap;
  }
}
.formFlex {
  .Input {
    width: 49%;
  }
}
.flexWrap {
  flex-wrap: wrap;
}
.staticStyle {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgDark {
  background-color: rgba(0, 0, 0, 0.3);
}
.bgWhite {
  background-color: rgba(255, 255, 255, 0.5);
}
.hight100 {
  height: 100%;
}
.flex {
  display: flex;
}
.width100 {
  width: 100%;
}
.textEnd {
  text-align: end;
}
.marginSide1 {
  margin: 1em;
}
