@mixin linearGradient($colorOne, $colorTwo) {
  background: linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -moz-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, $colorOne), color-stop(128%, $colorTwo));
  background: -webkit-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -o-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: -ms-linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  background: linear-gradient(45deg, $colorOne 0%, $colorTwo 128%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorOne ', endColorstr='$colorTwo', GradientType=1);
}
:root {
  // ============================ colors ========================
  --sidebarBgColor: #122f3b;
  --sideActived: ;
  --blueLight: #07a7e3;
  --blueLight2: #32dac3;
  --blueLight3: #25bff8;
  --blueVerylight: #77d8e0;
  --blueVerylight2: #93daca;
  --blackLight: rgba(0, 0, 0, 0.7);
  --redColor: #f43a59;
  --titleColor: #363e42;
  --description: #72848c;
  --prymaryColor: #07a7e3;
  --warningColor: #ffc107;
  --warningColorHover: #e0a800;
  --BlueToGreen: #09787d;
  --successColor: #28a745;
  --successColorHover: #218838;
  --dangerColor: #dc3545;
  --dangerColorHover: #c82333;
  background-color: #1488b9;

  // ============================ box shadow ======================

  --boxShadowLow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06);
  --boxShadowLowHover: 0 9px 23px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.1);

  // ===================================== px ==========================
  --sideMenuWidth: 15em;
  // ===================================== rgba ========================
  --colorLanding: #1488b9;
}
