.panelAdmin-navbar-container {
  color: #97a9b2;
  height: 5em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
  z-index: 90;
  border-radius: 0;
  background-color: white;
}
.panel-navbar-box {
  display: flex;
  justify-content: flex-end;
}
.panel-navbar-box > ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.panel-navbar-notifications {
  li {
    margin: 0 1em;
    cursor: pointer;
    display: flex;
    i {
      font-size: 1.3em;
    }
  }
}

.panel-navbar-profile > li {
  display: flex;
  > div {
    display: flex;
    align-items: center;
  }
}
.admin-profile-image {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  // background: #07a7e3;
  // background: -webkit-linear-gradient(-45deg, #07a7e3, #32dac3);
  // background: -webkit-linear-gradient(315deg, #07a7e3, #32dac3);
  // background: -o-linear-gradient(315deg, #07a7e3 0, #32dac3 100%);
  // background: linear-gradient(135deg, #07a7e3, #32dac3);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  margin: 0 10px;

  // background-color: #07a7e3;
}
.admin-profile-image img {
  display: block;
  width: 100%;
  padding: 3px;
  border-radius: 50%;
  border: 0.17em solid #07a7e3;
  margin: 0 auto;
}
.admin-profile-image::before {
  content: "";
  background-color: #07a7e3;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
}

.admin-profile-name.icon-up-dir::after {
  transform: rotate(-180deg);
}

.arrow-ic::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navbar-icon-massege {
  > .icon-mail {
    font-size: 20px;
    cursor: pointer;
  }
  > .icon-up-dir::after {
    transform: rotate(-180deg);
  }
}

.massege-icon {
  position: relative;
  > span {
    position: absolute;
    top: -1em;
    right: -0.7em;
    font-size: 0.8em;
    padding: 0.2em 0.35em;
    font-weight: 600;
    border: 3px solid white;
  }
}
@media (max-width: 700px) {
  .massege-icon {
    > span {
      border: 1px solid white;
    }
  }
}
