.cardDashboard-wrapper {
  margin: auto;
  width: 30%;
  //   height: 7em;
  display: block;
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 2rem 1rem;
  color: white;
  > div {
    flex: 1;
    height: 50%;
  }
}
