.panelAdmin-main-container {
  margin-top: 5em;
  margin-right: var(--sideMenuWidth);
  width: calc(100vw - var(--sideMenuWidth));
  height: calc(100vh - 5em);
  overflow: hidden auto;
  position: relative;
}
