.text-search-dropDown {
  position: relative;
  display: flex;
  > div {
    position: relative;
    flex: 1;
    margin: 0 0.2em;
  }
  input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;

    font-size: 0.9em;
  }
  .searched-dropDown {
    padding: 7px;
    border: 1px solid #ccc;
    z-index: 10;
    background-color: white;
    position: absolute;
    width: 100%;
    margin-top: -3px;
    border-radius: 0 0 8px 8px;

    max-height: 200px;
    overflow: auto;
  }
  .serached-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
    padding: 0.3em;
    flex-flow: unset;
    cursor: pointer;
    &:hover {
      background-color: rgb(228, 228, 228);
      border-radius: 5px;
    }
  }
  .searched-image {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    overflow: hidden;
    > img {
      border: 1px solid #a4a4a4;
      border-radius: 100%;
      padding: 0.2em;
      height: 100%;
    }
  }

  .searched-text {
    display: flex;
    flex-flow: column;
    padding: 0.5em;
    justify-content: center;
    width: calc(100% - 3em);
    > span {
      margin: 0.2em 0;
      line-height: unset;
    }
    .searched-title {
      font-size: 1em;
    }
    .searched-description {
      font-size: 0.8em;
      color: #97a9b2;
    }
  }
}
.felxRow {
  .serached-item {
    flex-flow: row !important;
  }
  .searched-text {
    > span {
      line-height: unset !important;
    }
  }
}
