.scroll {
  opacity: 0.3;
  background-color: aqua;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: white;
  top: 50%;
  left: 50%;
  //   margin-top: -9px;
  //   margin-left: -5px;
  display: flex;
}
