.header-container {
  height: 700px;
  width: 100%;
  line-height: normal;
  background-color: var(--colorLanding);
  // background-image: url("../../assets/images/img/bg-header.jpg");
  // background-repeat: repeat-x;
  // animation: animatedBackground 60s linear infinite;
  // -webkit-animation: animatedBackground 60s linear infinite;
  // background-position: 0 0;
  // line-height: normal;
  // background-size: cover;
  .header-box-sizing {
    margin: auto;
    > div:nth-child(1) {
      display: flex;
      align-items: center;
      height: 100px;
      width: 100%;
      justify-content: space-between;
    }
  }
  .web-logo {
    a {
      display: flex;
      width: 167px;
      margin-top: 61px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .nav-container {
    display: flex;

    align-items: center;

    justify-content: center;
  }
  .navbar-hamburger-box {
    cursor: pointer;
    > span {
      width: 25px;

      background: white;

      display: block;

      margin: 5px 0;

      padding: 0.1em;
    }
  }
}
.header-bottom-wrapper {
  display: flex;
}
.header-description-wrapper {
  display: flex;

  flex-flow: column;
  padding-top: 120px;
  padding-right: 100px;
  // font-size: 1vw;
  width: calc(100% - 368px);

  > * {
    display: block;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -1px;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);

    line-height: normal;
  }
  > h1 {
    font-size: 3em;
    line-height: 1.5;
    > span:nth-child(1) {
      display: flex;

      letter-spacing: 2px;
    }
    span:nth-child(2) {
      font-size: 0.55em;
      letter-spacing: 1px;
    }
  }
  > h3 {
    font-size: 1.5em;
    margin-top: 20px;
    letter-spacing: 1px;
  }
}

.btn-wrapper {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-delay: 0.5s;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  font-size: 3em;
  .btn-download {
    width: 227px;
    height: 65px;
    display: block;
    border-radius: 20px;
    background: url("../../assets/images/img/bg-btn.png");
    background-color: white;
    background-repeat: no-repeat;
    margin: 10px;
    &:hover {
      transform: translateY(-15px);
    }
  }
  .btn-ios {
    background-position: 30px 6px;
  }
  .btn-android {
    background-position: -176px 4px;
  }
  .btn-chanel {
    background-position: -388px 7px;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -100%;
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -100%;
  }
}
@media screen and (max-width: 1400px) {
  .header-bottom-wrapper {
    .header-description-wrapper {
      font-size: 1vw;
    }
  }
}
@media (min-width: 1000px) {
}
@media (max-width: 769px) {
  .header-description-wrapper {
    padding-right: unset;
    justify-content: center;
    align-items: center;
    flex: 1;
    > h3 {
      text-align: center;
    }
  }
  .btn-wrapper {
    justify-content: center;
    // .btn-ios {
    //   background-position: 20px 6px;
    // }
    // .btn-android {
    //   background-position: -188px 4px;
    // }
    // .btn-chanel {
    //   background-position: -403px 7px;
    // }
  }
}
@media (max-width: 767px) {
  .header-container {
    .mobile-app {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .header-description-wrapper {
    padding-top: 50px;
    font-size: 2.5vw !important;
  }
  .web-logo a {
    display: flex !important;
    width: 115px !important;
    margin-top: 40px !important;
  }
}
@media (max-width: 370px) {
  .header-container {
    .web-logo a {
      display: flex;
      width: 115px;
      margin-top: 10px;
      position: absolute;
      top: 0;
    }
  }
}
