.kind-of-data {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  font-weight: 300;
  color: var(--sidebarBgColor);
  user-select: none;

  &::before {
    content: "";
    border: 7px solid red;
    border-color: transparent red transparent transparent;
    transform: rotate(-45deg);
  }
}
.courses-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  .courses-container {
    display: flex;
    flex: 1 1;
    max-width: 32%;
    min-width: 340px;
    height: 90px;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    .courses-icons {
      display: flex;
      align-items: center;
      width: 100px;
      i {
        font-size: 4em;
        display: flex;
      }
    }

    .course-text {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      width: calc(100% - 170px);
    }
    .course-description {
      font-size: 1.1em;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .course-title {
      font-weight: 700;
    }
    .btn-play-icon {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 100%;
      background-color: #ccc;
      cursor: pointer;
      .icon-play {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(180deg);
      }
      &:hover {
        box-shadow: var(--boxShadowLow);
        color: white;
        background-color: black;
      }
    }
  }
}
